<div class="w-full flex flex-row">
  <input
    class="w-10/12 border border-black rounded-sm"
    type="text"
    [value]="url"
    [formControl]="url"
  />
  <button
    class="w-2/12 ml-3 border border-black rounded-sm bg-orange-300"
    (click)="sendRequest('get')"
  >
    Send
  </button>
</div>
<div class="mx-2" *ngIf="response$ | async as response">
  <!-- <ngx-json-viewer [json]="response"></ngx-json-viewer> -->
</div>

<h2>Are mock and reponse the same? {{ jsonDiffResult$ | async | json }}</h2>
